@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

:root {
  --primary: #a6ff4e;
  --secondary: #ebffd7;
  --bg-color: rgba(0, 0, 0, 0.58);
  --bg: #000;
  --spacing-xs: 16px;
  --spacing-sm: 24px;
  --spacing-xl: 72px;
  --height: 75px;
  --button-height: 72px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url("./assets/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  align-self: stretch;
  color: #ebffd7;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
