.Select {
  display: flex;
  padding: 0px 16px;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;

  flex-direction: column;
}

.label {
  font-size: 18px;
  font-weight: bold;
}

.container {
  background-color: transparent;
  border: none;
  color: #ebffd7;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex: 1;

  border: 2px solid white;
  border-radius: 36px;

  padding: 16px;
}

.input {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: white;
}
