.detailPage {
  display: flex;
  padding: 36px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 72px;
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
}

.contenedorDetails {
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;

  border-radius: 36px;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.58);
}

.imgDetails {
  width: 50%;
  align-self: stretch;
  border-radius: 36px;
}

.name {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.auto {
  display: flex;
  padding: 0px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1;
  align-self: stretch;
}

.DetailsId {
  color: #fff;

  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tag {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detailContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.label {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.detail {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex: 1 0 0;
}
