.layout {
  display: flex;
  padding: var(--spacing-xl);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xl);
  flex: 1;
}

.landingCard {
  border-radius: 36px;
  background-color: var(--bg-color);
  display: flex;
  padding: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xl);
  flex: 1 0 0;
  align-self: stretch;
}

.titleBold {
  font-weight: 900;
}
