.Search {
  display: flex;
  padding: 0px 16px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 100px;
  border: 2px solid #ebffd7;
}

.input {
  background-color: transparent;
  border: none;
  color: #ebffd7;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex: 1;
}

.input::placeholder {
  color: #ebffd7;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input:focus-visible {
  border: none;
  outline: none;
}
